
*
{
    margin: 0;
    padding: 0;
}

#myheader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #034f84;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

#page {
    display: flex;
    align-items: flex-start;
}

.header-left{ font-weight: bold; }
.header-center{ font-size: 20px; }
.header-right{ display:flex; gap:10px; }

.nav-item a{ text-decoration:none; color:#034f84; padding:6px 8px; }


#leftmenu
{
    width: 220px;
    border-right: 1px solid #ddd;
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 60px);
}

#main
{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100vh - 60px);
    
}

#content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: start;
}

.category-item{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background:#fff;
    text-align: center;
}

.category-item img{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    max-height: 150px;
    
}

